<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<br>
<div class="row">
<div class="col-xs-12">
    <img src="https://images-gmi-pmc.edge-generalmills.com/c8cbc66e-8f56-4fcd-ae39-582c7d15668f.jpg" alt="" class="img-responsive">
</div>
</div>
<div class="row">
    <div class="col-xs-12">
    <h1>Recipe Name</h1>
</div>
</div>
<div class="row">
    <div class="col-xs-12">
    <div class="btn-group">
        <!-- button with dropdown of shopping List, Edit recipe, Delete Recipe-->
        <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe</button>
        <ul class="dropdown-menu">
            <li><a href="#">To Shopping List</a></li>
            <li><a href="#">Edit Recipe</a></li>
            <li><a href="#">Delete Recipe</a></li>
        </ul>
    </div>
</div>
</div>
<div class="row">
    <div class="col-xs-12">
    Description
</div>
</div>
<div class="row">
    <div class="col-xs-12">
    Ingredients
</div>
</div>